@font-face {
  font-family: 'Jacques Francois Shadow';
  font-style: normal;
  font-weight: 400;
  src: local('Jacques Francois Shadow'), local('JacquesFrancoisShadow-Regular'), url(http://themes.googleusercontent.com/static/fonts/jacquesfrancoisshadow/v1/V14y0H3vq56fY9SV4OL_FM_jayyzA3TaKmOW7WWNSn0.woff) format('woff');
}
